*
!*/
!.gitignore

!其他资料/**/*.lnk

!*/PCB/**
!*/项目需求/**/*.lnk
!*/资料文档/**/*.lnk

!*/程序代码/**/Doc/**
!*/程序代码/**/Core/**/*.h
!*/程序代码/**/Core/**/*.c
!*/程序代码/**/Drivers/**/*.h
!*/程序代码/**/Drivers/**/*.c
!*/程序代码/**/MDK-ARM/*.s
!*/程序代码/**/MDK-ARM/*.uvprojx
!*/程序代码/**/Middlewares/**/*.c
!*/程序代码/**/Middlewares/**/*.h
!*/程序代码/**/*.ioc
!MDK创建工程步骤/**

/.idea/**